KAFKA_BROKERS=localhost:29092,localhost:29093,localhost:29094
KAFKA_TOPIC=order-events
NUM_WORKERS=4
EVENTS_PER_SECOND=100

POSTGRES_DB=streaming
POSTGRES_USER=streaming
POSTGRES_PASSWORD=streaming
JDBC_URL=jdbc:postgresql://localhost:5432/streaming
